data.pickle
english-towns-1.html
english-towns-1.txt
english-towns-encoded.txt
english-towns-filtered.txt
english-towns-testing.txt
english-towns-training.txt
english-towns.txt
irish-towns-encoded.txt
irish-towns-filtered.txt
irish-towns.txt
labels.pickle
List of cities and towns in England - Simple English Wikipedia, the free encyclopedia.html
random-strings-encoded.txt
random-strings.txt
